#control-panel {
    position: fixed;
    top: 4em;
    left:0;
    width: 13%;
    height: 90%;
    overflow-y: auto;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;

    border-right: 2px solid grey;
}


legend {
    font-family: Helvetica, sans-serif;
    font-size: 11pt;
}


fieldset {
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}


.control-widget {
    margin-bottom: 20px;
}


#tag-filter{
    padding: 5px;
    margin-bottom: 5px;
}


.date-field {
    margin-top: 5px;
}
