pre {
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}


pre.src {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #f2f2f2;
    position: relative;
    overflow: auto;
}


pre.src:before {
    display: none;
    position: absolute;
    top: -8px;
    right: 12px;
    padding: 3px;
    color: #555;
    background-color: #f2f2f299;
}


.org-src-name, .t-above, .t-below {
    font-style: italic;
    font-size: 10pt;
}


.figure {
    font-style: italic;
    font-size: 10pt;
    max-width: 100%;
}


img {
    max-width: 100%;
}
