
h1 {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 900px;
    text-align: left;
    font-family: $sans-serif;
    margin: auto;
}

p {
    margin: 10;
    font-family: Impact, Charcoal, sans-serif;
}
